.header {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  height: 70px;
  background: rgba(247, 236, 218, 0.6);
}

.select-container {
  display: flex;
  height: 50px;
  width: 200px;
}

.icon-container {
  display: flex;
  height: 70px;
  gap: 20px;
}

.backgroundTip {
  cursor: pointer;
}

.audioTip {
  cursor: pointer;
}

.translationTip {
  cursor: pointer;
}

.logout {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-image: url('logout.png');
  background-size: cover;
}
