$redBook: hsl(6, 37%, 45%);
$greenBook: rgb(106, 123, 91);

$pinkColor: rgb(212, 146, 161);
$lavender: rgb(164, 159, 217); // containers border blue theme
$selectBorder: rgb(185, 112, 129);
$blueColor: rgb(102, 102, 189);
$darkPinkColor: rgb(195, 114, 133);

$blueButtonBorder: rgb(157, 210, 246);
$blueButtonBorderHover: rgb(164, 159, 217);

$modalButtonBackgroundStartColorPink: rgba(250, 221, 225, 0.8);
$modalButtonBackgroundEndColorPink: rgba(245, 160, 173, 0.8);
$modalButtonTextColorHoverPink: rgb(121, 73, 123);
$modalButtonTextColorPink: rgb(167, 137, 172);
$modalTitlePink: rgb(162, 79, 106);
$modalMessagePink: rgba(93, 33, 47, 0.9);
$modalBorderPink: rgba(93, 33, 47, 0.9);

$modalButtonBackgroundStartColorBlue: rgba(202, 227, 242, 0.8);
$modalButtonBackgroundEndColorBlue: rgba(188, 188, 246, 0.8);
$modalButtonTextColorBlue: rgb(167, 137, 172);
$modalButtonTextColorHoverBlue: rgb(121, 73, 123);
$modalTitleBlue: rgb(162, 79, 106);
$modalMessageBlue: rgba(93, 33, 47, 0.9);
$modalBorderBlue: rgba(93, 33, 47, 0.9); //заменить цвет

$gridMarkedPink: rgb(212, 146, 161);
$gridCrossedPink: rgb(195, 114, 133);
$gridMarkedBlue: rgb(130, 156, 193);
$gridCrossedBlue: rgb(65, 98, 149);

$blueContainerBackgroundStartColor: rgba(202, 221, 242, 0.4);
$blueContainerBackgroundEndColor: rgba(158, 191, 245, 0.4);

$pinkSelectOption0: rgba(252, 215, 221, 0.8);
$pinkSelectOption1: rgba(248, 219, 223, 0.8);
$pinkSelectOption2: rgba(252, 196, 205, 0.8);
$pinkSelectOption3: rgba(255, 198, 207, 0.8);
$pinkSelectOption4: rgba(255, 198, 207, 0.8);
$pinkSelectOption5: rgba(252, 175, 190, 0.8);
$blueSelectOption0: rgba(202, 227, 242, 0.8);
$blueSelectOption1: rgba(200, 220, 243, 0.8);
$blueSelectOption2: rgba(198, 210, 244, 0.8);
$blueSelectOption3: rgba(196, 200, 244, 0.8);
$blueSelectOption4: rgba(192, 190, 245, 0.8);
$blueSelectOption5: rgba(188, 188, 246, 0.8);

$selectHover: rgba(188, 188, 246, 0.8);
$overlayColor: rgba(245, 235, 235, 0.6);
